@charset "UTF-8";

/* Fonte Roboto */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
    background-color: #424242;
    box-shadow: 0 8px 8px rgba(0, 0, 0, .15);
}


.logo {
    width: 190px;
    cursor: pointer;    
}

button {
    position: absolute;
    top: 10px;
    right: 10px;
    display: none;
    background-color: transparent;
    border: none;
    color: #FFF;
    font-size: 36px;
    cursor: pointer;

}

ul {
    display: flex; 
    list-style: none;
    text-transform: uppercase; 
    padding-left: 16px;  
    overflow: hidden;
    transition: all .5s;
}

li {
    letter-spacing: 2px;
    margin: 0 24px 0 8px;
}

li:hover {    
    opacity: .8;
    background-color: rgba(255, 255, 255, .2);  
    cursor: pointer;
}


a {
    text-decoration: none;    
    color: aliceblue;
    transition: .3s;
    font-size: 14px;
    font-weight: 600;
}


main {
    height: 90vh;  
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.index-img {    
    width: 500px;    
}

button:focus ~ ul {
    height: 430px;
    
}

@media (max-width: 1520px) {
    nav, ul {
        flex-direction: column;
        align-items: unset;
        padding: 0;
    }

    nav {
        padding-top: 20px;
    }

    ul {
        text-align: center;
        height: 0;
    }

    li {
        margin: 8px 0;
        padding: 8px 0;
        
    }

    a {
        font-size: 18px;
        
        
    }

    button {
        display: flex;
    }


}